<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de clientes</h1>
    <ul>
        <!--ciclo for para iterar entre todos los datos ingresados y mostrarse en pantalla en el navegador-->
        {% for cliente in clientes %}
            <li>{{cliente.nombre}} - {{cliente.apellido}} - 
                {{cliente.edad}} - {{cliente.dui}}
            </li>
        {% endfor %}
    </ul>

</body>
</html>